@page "/students"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorApp3.Models
@inject IDbContextFactory<BlazorApp3.Data.ApplicationDbContext> DbFactory

<PageTitle>Manage Students</PageTitle>

<h1>Manage Students</h1>

<p>
    <a href="students/create"><i class="fa-solid fa-square-plus"></i></a>
</p>


<QuickGrid Class="table"
           Items='@(DbFactory.CreateDbContext().ApplicationUser.Where(u => u.Role.Equals("Student")))'>


    <PropertyColumn Property="users => users.Name" />
    <PropertyColumn Property="users => users.Code" />
    <PropertyColumn Property="users => users.PhoneNumber" Title="Phone Number" />
    <PropertyColumn Property="users => users.Address" />
    <PropertyColumn Property="users => users.Sex" />
    <PropertyColumn Property="users => users.Email" />
    <PropertyColumn Property="users => users.Role" />

    <TemplateColumn Context="users">
        <a href="@($"students/edit?id={users.Id}")"><i class="fa-solid fa-pen-to-square"></i></a> |
        <a href="@($"students/details?id={users.Id}")"><i class="fa-solid fa-circle-info"></i></a> |
        <a href="@($"students/delete?id={users.Id}")"><i class="fa-solid fa-trash"></i></a>
    </TemplateColumn>
</QuickGrid>
@code
{

}