@page "/"

<PageTitle>Home</PageTitle>

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-5">Welcome Back</h1>
        <p class="text-muted" style="font-size: 2rem; font-weight: bold;">"Let’s achieve something amazing together!"</p>
        <img src="images/hinh2.png" alt="Inspiring Image" class="img-fluid mt-4" style="max-width: 100%; height: auto;">
    </div>
</div>
